/* Ensure the editor's internal 'block-editor-block-list__layout' doesn't break grid */
.evt-events-grid-container > .block-editor-inner-blocks > .block-editor-block-list__layout {
    display: grid;
    grid-template-columns: repeat(var(--grid-columns, 2), 1fr);
    gap: 25px;
    padding: 10px;
}
/* ****CARD*** */
.editor-styles-wrapper .evt-event-card {
    position: relative;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}
.editor-styles-wrapper .evt-event-card .evt-add-image-block {
    border-bottom: 1px solid rgb(221, 221, 221);
    padding: 10px;
    margin-bottom: 10px;
}
.editor-styles-wrapper .block-editor-block-list__block {
    margin-top: 0px;
}
.editor-styles-wrapper .evt-event-date-badge-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1px;
    margin: 0px;
}
.editor-styles-wrapper .evt-card-details{
    display: flex;
    gap: 15px;
    padding: 10px;
}
.editor-styles-wrapper .evt-event-card .evt-event-detail{
    display: flex;
    flex-direction: column;
    gap: 5px;

}
.editor-styles-wrapper .evt-border-badge {
    border-radius: 6px;
    padding: 3px;
}
.editor-styles-wrapper .evt-event-date-badge {
    padding: 7px 14px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.editor-styles-wrapper .evt-date-weekday {
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.5px;
}
.editor-styles-wrapper .evt-date-day {
    font-size: 21px;
    font-weight: 700;
    line-height: 1;
}
.editor-styles-wrapper .evt-date-month {
    font-size: 11px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    display: block;
}
.editor-styles-wrapper .evt-event-details-inner .evt-event-time {
    font-size: 14px;
    display: flex;
    align-items: center;
    gap: 5px;
}
.editor-styles-wrapper .evt-event-details-inner .evt-event-time:before {
    content: '\e803';
    font-family: 'evticons';
    font-style: normal;
    font-weight: normal;
    display: inline-block;
    margin-right: 5px;
}
.editor-styles-wrapper .evt-event-details-inner .evt-event-title {
    font-size: 18px;
    font-weight: 500;
}
.editor-styles-wrapper .evt-event-details-inner .evt-event-location {
    font-size: 15px;
    font-weight: 400;
}
.editor-styles-wrapper .evt-event-details-inner .evt-price-read-more p {
    font-size: 15px;
    font-weight: 600;
}
.editor-styles-wrapper .evt-event-details-inner .evt-price-read-more {
    display: flex;
    gap: 15px;
    align-items: center;
    margin-top: 10px;
}
.editor-styles-wrapper .evt-price-read-more .evt-event-read-more div {
    padding: 9px 16px;
    line-height: 14px;
    font-size: 14px;
}
.editor-styles-wrapper .evt-event-details-inner .evt-event-image-block {
    width: 100%;
    height: 200px;
    overflow: hidden;
    position: relative;
}
.editor-styles-wrapper .evt-event-details-inner .evt-event-image-block img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.editor-styles-wrapper .evt-events-grid-container .evt-event-image-block .components-placeholder {
    height: 100%;
    padding: 7px;
    gap: 5px;
    box-shadow: inset 0 0 0 1px #d9d9d9;
}
/* BLOCK APPENDER & INSERTER */

.editor-styles-wrapper .evt-events-grid-container .block-editor-block-list__layout > .block-list-appender {
    display: grid;
    grid-column: auto;
    position: relative !important;
    width: 100%;
}
.editor-styles-wrapper .evt-events-grid-container .block-editor-button-block-appender {
    width: 100%;
    height: 100%;
    border: 2px dashed #cdceff;
    box-shadow: none;
    border-radius: 8px;
}
.editor-styles-wrapper .evt-events-grid-container .block-editor-button-block-appender svg {
    width: 45px;
    height: 45px;
    fill: #abaff5;
}
.editor-styles-wrapper .evt-events-grid-container .block-editor-button-block-appender::after {
    content: 'Add Event';
    color: #abaff5;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 0.5px;
}
@media (max-width: 1024px) {
    .evt-events-grid-container > .block-editor-inner-blocks > .block-editor-block-list__layout {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 600px) {
    .evt-events-grid-container > .block-editor-inner-blocks > .block-editor-block-list__layout {
        grid-template-columns: 1fr;
    }
}