@font-face {
  font-family: 'evticons';
  src: url('../font/evticon.eot?52891777');
  src: url('../font/evticon.eot?52891777#iefix') format('embedded-opentype'),
       url('../font/evticon.woff2?52891777') format('woff2'),
       url('../font/evticon.woff?52891777') format('woff'),
       url('../font/evticon.ttf?52891777') format('truetype'),
       url('../font/evticon.svg?52891777#evticons') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'evticons';
    src: url('../font/evticon.svg?52891777#evticons') format('svg');
  }
}
*/
[class$="icon-evt"]:before, [class*="icon-evt "]:before {
  font-family: "evticons";
  font-style: normal;
  font-weight: normal;
  speak: never;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.usericon-evt:before { content: '\e800'; } /* '' */
.locationicon-evt:before { content: '\e801'; } /* '' */
.calendaricon-evt:before { content: '\e802'; } /* '' */
.clockicon-evt:before { content: '\e803'; } /* '' */
.clock-circledicon-evt:before { content: '\e804'; } /* '' */
.mailicon-evt:before { content: '\e805'; } /* '' */
.location-1icon-evt:before { content: '\f031'; } /* '' */
.mail-alticon-evt:before { content: '\f0e0'; } /* '' */
